@keyframes animate-opacity {
    from {opacity: 0.0;}
    to {opacity: 1.0;}
}

.animate-opacity {
    animation-name: animate-opacity;
}

.animate-opacity {
    animation-duration: 0.25s;
    animation-iteration-count: 3;
    animation-direction: alternate;
}
