.mat-card-actions.flex {
    display: flex;
}

.mat-button, .mat-raised-button {
    text-transform: uppercase;

    &:focus{
        outline: none;
    }
}

.mat-snack-bar-handset .mat-snack-bar-container {
    border-radius: 0;
}

mat-icon.material-icons {
    width: auto;
    height: auto;
}

mat-card-header.mat-custom-header div.mat-card-header-text {
    display: none;
}

.mat-card-super-title {
    margin-left: 25px;
}
