<form [formGroup]="signInForm" (ngSubmit)="submit()">
    <section>
        <mat-form-field>
            <mat-placeholder>Username</mat-placeholder>
            <input
                matInput
                type="text"
                autocomplete="off"
                formControlName="username"
            />

            <mat-error *ngIf="isUsernameMinLengthError">Username is too short</mat-error>
            <mat-error *ngIf="isUsernameMaxLengthError">Username is too long</mat-error>
        </mat-form-field>
    </section>

    <section>
        <mat-form-field>
            <mat-placeholder>Password</mat-placeholder>
            <input
                matInput
                type="password"
                autocomplete="off"
                formControlName="password"
            />

            <mat-error *ngIf="isPasswordMinLengthError">Password is too short</mat-error>
            <mat-error *ngIf="isPasswordMaxLengthError">Password is too long</mat-error>
        </mat-form-field>
    </section>

    <section class="login-error flex items-center justify-around">
        <div *ngIf="!isInProgress && !error">&nbsp;</div>
        <mat-progress-bar *ngIf="isInProgress" mode="indeterminate"></mat-progress-bar>
        <mat-error *ngIf="error" class="animation-shake">{{error}}</mat-error>
    </section>

    <section class="flex">
        <button
            mat-raised-button
            type="submit"
            class="sign-in-button"
            color="primary"
            [disabled]="submitButtonDisabled"
        >Sign In</button>
    </section>
</form>
