<form [formGroup]="signInForm" (ngSubmit)="submit()">
    <section>
        <mat-form-field>
            <mat-placeholder>Username</mat-placeholder>
            <input
                matInput
                type="text"
                autocomplete="off"
                formControlName="username"
                [minlength]="usernameMinLength"
                [maxlength]="usernameMaxLength"
            />

            <mat-error *ngIf="isUsernameMinLengthError">At least {{usernameMinLength}} characters</mat-error>
        </mat-form-field>
    </section>

    <section>
        <mat-form-field>
            <mat-placeholder>Password</mat-placeholder>
            <input
                matInput
                type="password"
                autocomplete="off"
                formControlName="password"
                [minlength]="passwordMinLength"
                [maxlength]="passwordMaxLength"
            />

            <mat-error *ngIf="isPasswordMinLengthError">At least {{passwordMinLength}} characters</mat-error>
        </mat-form-field>
    </section>

    <section class="flex">
        <button
            *ngIf="!isInProgress"
            mat-raised-button
            type="submit"
            class="flex-basis-100"
            color="primary"
            [disabled]="signInForm.invalid"
        >Sign In</button>

        <mat-progress-bar *ngIf="isInProgress" mode="buffer"></mat-progress-bar>
    </section>
</form>
