.login-error {
    font-size: 75%;
    height: 20px;
    max-width: 180px;
    transform: translate(0, -10px);

    mat-progress-bar {
        margin: 9px 0;
    }
}

.sign-in-button {
    flex-basis: 100%;
}
