<section *ngIf="employee && education">
    <h1 style="color:#339933;">{{employee.name}}</h1>
    <h2>{{employee.title}}</h2>
    <h4 style="color:#888;">{{address}}</h4>

    <div>
        <em>phone number:</em>&nbsp;
        <span style="color:#339933;">{{employee.phoneNumber}}</span>
        <span>,</span>&nbsp;
        <em>email:</em>&nbsp;
        <span style="color:#339933;">{{employee.emailAddress}}</span>
    </div>

    <br /><br />

    <markdown ngPreserveWhitespaces [data]="employee.overview"></markdown>

    <div *ngIf="expertise.length > 0">
        <em>My expertise includes:</em>&nbsp;
        <span *ngFor="let skill of expertise">{{skill}},&nbsp;</span>
    </div>

    <br />

    <h1 style="color:#339933;">Education</h1>
    <h2>
        <span>{{education.degree}}</span>&nbsp;
        <span>in</span>&nbsp;
        <span>{{education.fieldOfStudy}}</span>
    </h2>
    <h4 style="color:#888;">{{education.universityName}}</h4>
    <markdown ngPreserveWhitespaces [data]="education.description"></markdown>
</section>

<section *ngIf="position" class="position">
    <h1 style="color:#339933;">Current position</h1>
    <h2>{{position.position}}</h2>
    <h4 style="color:#888;">
        <span>{{position.companyName}}</span>,
        <span>from</span>&nbsp;
        <span>{{position.startDate | date:'MMMM yyyy'}}</span>&nbsp;
    </h4>
    <markdown ngPreserveWhitespaces [data]="position.description"></markdown>

    <h1 style="color:#339933;">Previous experience</h1>

    <div *ngFor="let exp of experience">
        <h2>{{exp.position}}</h2>
        <h4 style="color:#888;">
            <span>{{exp.companyName}}</span>,
            <span>from</span>&nbsp;
            <span>{{exp.startDate | date:'MMMM yyyy'}}</span>&nbsp;
            <span>to</span>&nbsp;
            <span>{{exp.startDate | dateIncr:exp.period | date:'MMMM yyyy'}}</span>&nbsp;
        </h4>
        <markdown ngPreserveWhitespaces [data]="exp.description"></markdown>
    </div>
</section>
