.mat-card-subtitle.inline {
    margin: 0;
    white-space: nowrap;
    color: rgba(0,0,0,.87);
}

//.at, .company {
//    display: none;
//}
//
//@media (min-width:480px) {
//    .at, .company  {
//        display: inline;
//    }
//}
