.container.inlined {
    display: flex;
    align-items: baseline;
}

.position.inlined {
    margin: 0;
}

.company.inlined {
    margin: 0;
}

.at.inlined {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0;
}
