<h2 mat-dialog-title>Sign In</h2>
<mat-dialog-content>
    <sign-in-form
        [isInProgress]="authenticationStore.isInProgress | async"
        [isAuthenticated]="authenticationStore.isAuthenticated | async"
        [error]="authenticationStore.error | async"
        (signInRequest)="signIn($event)"
        (valueChanges)="valueChanges($event)"
    ></sign-in-form>
</mat-dialog-content>
<mat-dialog-actions>
    <button
        mat-button
        type="button"
        color="primary"
        (click)="close()"
        class="flex-basis-100"
        [disabled]="authenticationStore.isInProgress | async"
    >Cancel</button>
</mat-dialog-actions>
