.footer {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .logo-entry {
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        background-position: left;
        background-size: cover;
        margin: 0 1rem;
    }
}

.footer-subtitle-container {
    justify-content: center;

    .footer-subtitle {
        color: white;
    }
}
