:host {
    display: flex;
    align-items: center;
    justify-content: center;
}

.github-icon {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.5em;

    .svg-icon {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

:host /deep/ {
    .github-icon {
        .svg-icon {
            svg {
                flex: 1;
                path {
                    fill: white;
                }
            }
        }
    }
}
