:host {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1em;
//    max-width: 600px;
//    margin: 0 auto;
//    position: relative;
}

.github-icon {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    //position: absolute;
    //z-index: 1;
    //transform: translate(-10px, 10px);
    //opacity: 0.5;
}
