.expertise-title {
    margin-top: 1em;
}

.expertise-title {
    display: flex;
    align-items: center;
}

:host /deep/ {
    .mat-form-field-prefix {
        transform: translateY(6px);
        margin-right: 0.5em;
    }
    .mat-form-field-underline {
        background-color: transparent;
    }

    .mat-chip {
        &.selected {
        }
    }
}

button[mat-icon-button]:focus {
    outline: none;
}

.toggle {
    &.collapsed {
        .mat-icon {
            transform: rotate(180deg);
        }
    }
}
