<markdown *ngIf="employee" ngPreserveWhitespaces [data]="employee.overview"></markdown>

<div *ngIf="expertise.length > 0" class="expertise-title">
    <query-string
        placeholder="My expertise includes"
        [hasPrefix]="true"
        [debounceTime]="300"
        (searchRequest)="search($event)"
    ></query-string>
</div>

<div *ngIf="expertise.length > 0" class="expertise-list">
    <mat-chip-list [@skillset]="expertiseLimit" [multiple]="true">
        <mat-chip
            @skill
            *ngFor="let skill of expertise | slice:0:expertiseLimit; let i = index"
            color="primary"
            [selectable]="false"
            [selected]="match[i]"
        >{{skill}}</mat-chip>

        <mat-chip
            color="primary"
            [selectable]="false"
            (click)="toggleExpertise()"
            [selected]="true"
            class="toggle"
            [class.expanded]="expertiseExpanded"
            [class.collapsed]="!expertiseExpanded"
        >
            <span *ngIf="!expertiseExpanded">and more</span>
            <span *ngIf="expertiseExpanded">collapse</span>
            &nbsp;
            <mat-icon>more</mat-icon>
        </mat-chip>
    </mat-chip-list>
</div>
