<markdown ngPreserveWhitespaces [data]="employee?.overview"></markdown>

<div class="expertise-title">
    <mat-card-subtitle class="bottom-margin-small">
        My expertise includes modern frontend frameworks and libraries such as:
    </mat-card-subtitle>
</div>

<mat-chip-list *ngIf="!!employee">
    <mat-chip *ngFor="let skill of employee.expertiseArray | slice:0:expertiseLimit">
        {{skill}}
    </mat-chip>

    <button
        mat-icon-button
        type="button"
        class="toggle"
        color="primary"
        (click)="toggleExpertise()"
    >
        <mat-icon *ngIf="!expertiseExpanded" matTooltip="and more" matTooltipPosition="after">more_horiz</mat-icon>
        <mat-icon *ngIf="expertiseExpanded" matTooltip="maybe less" matTooltipPosition="after">more</mat-icon>
    </button>
</mat-chip-list>
