.expertise-title {
    margin-top: 1em;
    margin-bottom: 1em;
}

.expertise-title {
    display: flex;
    align-items: center;
}


button[mat-icon-button]:focus {
    outline: none;
}

.toggle {
    &.collapsed {
        .mat-icon {
            transform: rotate(180deg);
        }
    }
}
