.animation {
    &-opacity {
        animation-name: opacity;
        animation-duration: 0.50s;
        animation-iteration-count: infinite;
    }

    &-shake {
        animation-name: shake;
        animation-duration: 0.5s;
        animation-timing-function: linear;
    }

    &-spin {
        animation-name: spin;
        animation-duration: 2.0s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}
