.mat-accordion {
    .mat-expansion-panel-header {
        padding: 0 16px;
    }

    .mat-expansion-panel-body {
        padding: 0 16px 16px;
    }
}
@media (min-width:480px) {
    .mat-accordion {
        .mat-expansion-panel-header {
            padding: 0 24px;
        }
        .mat-expansion-panel-body {
            padding: 0 24px 16px;
        }
    }
}
