<section *ngIf="employee && education">
    <h1 style="color:#339933;">{{employee.name}}</h1>
    <h2>{{employee.title}}</h2>
    <h4 style="color:#888;">{{address}}</h4>

    <div>
        <em>phone number:</em>&nbsp;
        <span style="color:#339933;">{{employee.phoneNumber}}</span>
        <span>,</span>&nbsp;
        <em>email:</em>&nbsp;
        <span style="color:#339933;">{{employee.emailAddress}}</span>
    </div>

    <br /><br />

    <markdown ngPreserveWhitespaces [data]="employee.overview"></markdown>

    <div *ngIf="expertise.length > 0">
        <em>My expertise includes:</em>&nbsp;
        <span *ngFor="let skill of expertise">{{skill}},&nbsp;</span>
    </div>

    <br />

    <h1 style="color:#339933;">Education</h1>
    <h2>
        <span>{{education.degree}}</span>&nbsp;
        <span>in</span>&nbsp;
        <span>{{education.fieldOfStudy}}</span>
    </h2>
    <h4 style="color:#888;">{{education.universityName}}</h4>
    <markdown ngPreserveWhitespaces [data]="education.description"></markdown>
</section>

<section *ngIf="position" class="position">
    <h1 style="color:#339933;">Position</h1>
    <h2>{{position.position}}</h2>
    <h4 style="color:#888;">{{position.companyName}}</h4>
    <markdown ngPreserveWhitespaces [data]="position.description"></markdown>

    <h1 style="color:#339933;">Experience</h1>

    <!-- TODO: reuse existing experience component -->
    <div *ngFor="let exp of experience">
        <span>{{exp.period | monthDesctruct}}</span>&nbsp;
        <span>as</span>&nbsp;
        <strong>{{exp.position}}</strong>&nbsp;
        <span>at</span>&nbsp;
        <span style="color:#888;">{{exp.companyName}}</span>&nbsp;
    </div>
</section>

<section>
    <div *ngFor="let exp of experience | slice:0:3">
        <h2>{{exp.position}}</h2>
        <h4 style="color:#888;">{{exp.companyName}}</h4>
        <markdown ngPreserveWhitespaces [data]="exp.description"></markdown>
    </div>
</section>
