@import './styles/animations.scss';
@import './styles/flex.scss';

body, html {
    margin: 0;
    padding: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.ng-app mat-card-actions {
    display: flex;
}

.mat-button, .mat-raised-button {
    text-transform: uppercase;
}

.mat-snack-bar-handset .mat-snack-bar-container {
    border-radius: 0;
}

.flex {
    display: flex;
}
