<mat-toolbar color="primary">
    <mat-toolbar-row>
        <a routerLink="/" routerLinkActive="active" i18n>Overview</a>
        <a routerLink="/interview-questions" routerLinkActive="active">Interview</a>

        <span class="flex-auto"></span>

        <button
            *ngIf="false"
            mat-button
            class="sign-in-button"
            (click)="signIn()"
        >Sign In</button>

        <button
            *ngIf="isAuthenticated"
            mat-button
            class="sign-out-button"
            (click)="signOut()"
        >Sign Out</button>
        <source-code></source-code>
    </mat-toolbar-row>
</mat-toolbar>
