<mat-toolbar color="primary">
    <mat-toolbar-row class="desktop">
        <a [href]="employee.phoneNumber | tel" target="_blank" class="contact" rel="noopener">{{employee.phoneNumber}}</a>
        <a [href]="employee.emailAddress | mailto" target="_blank" class="contact"rel="noopener">{{employee.emailAddress}}</a>
        <a [href]="employee.linkedin" target="_blank" rel="noopener" class="contact">LinkedIn</a>
    </mat-toolbar-row>
    <mat-toolbar-row class="mobile">
        <a [href]="employee.phoneNumber | tel" target="_blank" class="contact" rel="noopener">phone</a>
        <a [href]="employee.emailAddress | mailto" target="_blank" class="contact"rel="noopener">email</a>
        <a [href]="employee.linkedin" target="_blank" rel="noopener" class="contact">LinkedIn</a>
    </mat-toolbar-row>
</mat-toolbar>
