<h1 *ngIf="employee">{{employee.name}}</h1>
<mat-card-subtitle *ngIf="employee" class="employee-title">{{employee.title}}</mat-card-subtitle>
<mat-card-subtitle *ngIf="employee" class="employee-title">
    <a [href]="employee.emailAddress | mailto" target="_blank">{{employee.emailAddress}}</a>
</mat-card-subtitle>
<mat-card-subtitle *ngIf="employee" class="employee-title">
    <a [href]="employee.phoneNumber | tel" target="_blank">{{employee.phoneNumber}}</a>
</mat-card-subtitle>
<mat-card-subtitle *ngIf="address" class="employee-title">
    <a [href]="employee.location | mapLocationQuery" target="_blank">{{address}}</a>
</mat-card-subtitle>
