<mat-toolbar color="primary">
    <mat-toolbar-row>
        <a routerLink="/" routerLinkActive="active" i18n>Home</a>
        <a routerLink="/private" routerLinkActive="active">Private</a>

        <span class="justify-separator"></span>

        <button
            *ngIf="!isAuthenticated"
            mat-button
            class="sign-in-button"
            (click)="signIn()"
        >Sign In</button>

        <button
            *ngIf="isAuthenticated"
            mat-button
            class="sign-out-button"
            (click)="signOut()"
        >Sign Out</button>
    </mat-toolbar-row>
</mat-toolbar>
