<h2
    mat-dialog-title
    class="sing-in-dialog-title"
    [class.mat-error]="authenticationStore.error | async"
    [class.in-progress]="authenticationStore.isInProgress | async"
    [class.animation-shake]="authenticationStore.error | async"
>Sign In</h2>
<mat-dialog-content>
    <sign-in-form
        [isInProgress]="authenticationStore.isInProgress | async"
        [error]="authenticationStore.error | async"
        (signInRequest)="signIn($event)"
        (setErrorRequest)="setError($event)"
    ></sign-in-form>
</mat-dialog-content>
<mat-dialog-actions>
    <button
        mat-button
        type="button"
        color="primary"
        class="sign-in-cancel-button"
        [disabled]="authenticationStore.isInProgress | async"
        (click)="authDiscard()"
    >Cancel</button>
</mat-dialog-actions>
