<mat-card class="blog-post">
    <mat-card-header class="items-center">
        <img
            *ngIf="!useAvatarFallback"
            mat-card-avatar
            [src]="blogPost.avatarThumbnailURL"
            (error)="useAvatarFallback = true"
        />
        <mat-icon *ngIf="useAvatarFallback" mat-card-avatar>account_circle</mat-icon>
        <!--<mat-card-title>{{blogPost.author}}</mat-card-title>-->
        <h3>{{blogPost.author}}</h3>
    </mat-card-header>
    <mat-card-content>{{blogPost.content}}</mat-card-content>
</mat-card>
