:host {
    display: flex;
    justify-content: center;
}

.blog-post {
    max-width: 400px;
    margin: 5px;
}

mat-card-header {
    margin-bottom: 1em;

    h3 {
        margin: 0;
    }

    .material-icons.mat-card-avatar {
        font-size: 40px;
        color: rgba(0,0,0,0.5);
    }
}


